<div>
  <form (submit)="login($event)">
    <h2>Login</h2>
    <div>
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        name="username"
        [(ngModel)]="username"
        required
        placeholder="username"
      />
    </div>
    <div>
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="password"
        required
        placeholder="password"
      />
    </div>
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
    <button type="submit">Login</button>
  </form>
</div>
