<nav
  style="
    padding: 10px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ccc;
    min-height: 18px;
  "
>
  <a routerLink="/search" style="margin-right: 15px" *ngIf="isLoggedIn()"
    >Search</a
  >
  <a routerLink="/favorites" style="margin-right: 15px" *ngIf="isLoggedIn()"
    >Favorites</a
  >
  <span style="float: right">
    <button *ngIf="!isLoggedIn()" (click)="login()" style="margin-right: 5px">
      Login
    </button>
    <button *ngIf="isLoggedIn()" (click)="logout()">Logout</button>
  </span>
</nav>
